<html>
  <head>
    <title>Web Scaffold</title>
    <meta name="theme-color" content="#2e2e2e">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" >
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'/>
    <link rel="stylesheet" href="../css/app_layout.css" />
    <link rel="stylesheet" href="../css/app_themes.css" />
    <link rel="stylesheet" href="../css/element_styles.css" />
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body class="moderno">
    <div class="letterhead">
      <div class="letterhead-content">
        <div>HTML Canvas Sketches</div>
        <div class="subtext">
          <a href="https://github.com/aldousp/canvas-sketches" style="color: white" target="_blank">
            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="row">
        <div style="width: 100%;">
          <h1 class="center">Gallery</h1>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="column" style="width: 100%;" >
          <canvas id="canvas-a" class="canvas" width="300" height="300"></canvas>
        </div>
      </div>
      <div class="footer">Made with <i class="fa fa-heart" aria-hidden="true"></i> <a href="https://github.com/aldousp" target="_blank">by Aldous</a>.</div>
    </div>
  </body>
</html>
